@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700;800&display=swap');

/* shared style */
* {
    font-family: 'Work Sans', sans-serif;
    /* margin: 0; */
    padding: 0;
}
.text-light-gray{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn-primary {
    color: #FFF;
    font-size: 1.2rem;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    cursor: pointer
}

/* header style */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 220px;
}

/* nav style */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    color: #131313;
    font-size: 3rem;
    font-weight: 700;
    color: #131313;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

/* banner style */
.banner {
    margin-top: 100px;
}

.banner-content {
    /* width: 850px; */
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
}

.banner img {
    width: 100%;
    margin-top: 20px;
}

/* main style */

main{
    max-width: 1440px;
    margin: 70px auto;
}

/* team style */

.team-container{
    display: flex;
    align-items: center;
    gap: 4.375rem;

}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.1rem;
}
.team-img-container img{
    width: 100%;
}
.team-content{
    padding-right: 70px;
    padding-left: 70px;
}
.team-title{
    font-size: 2.815rem;
}
.quick-list{
    color: #727272;
    font-weight: 500
}
.of-our{
    color: #131313;
    font-weight: 700;
}
.text-featured{
    color: #FF900E;
    font-weight: 700;
}


/* reponse style */
/* small device */

@media screen and (max-width:576px) {
    header {
        padding: 20px;
    }

    nav {
        flex-direction: column;
    }

    nav ul {
        margin-top: 20px;
    }

    .banner-content {
        width: auto;
    }
    .team-container{
        flex-direction: column;
    }
    .team-content{
        padding-right: 20px;
        padding-left: 20px;
    }

}

/* medium device or tablet */
@media screen and (min-width:577px) and (max-width:997px) {
    header {
        padding: 20px;
    }
    nav, .team-container{
        flex-direction: column;
    }

}